/******* Html elements *******/
body {
  font-family: "Montserrat";
  text-align: center;
}

section {
  padding: 5%;
}


h4 {
  font-size: 1.25rem !important;
  color: black;
}

h3{
  font-family: "Montserrat";
  color: black;
}


a {
  text-decoration: none !important;
}




/******* Title *******/
#title {
  background-color: #89CFF0;
  padding: 3%;
}

.container-fluid div {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 18px;
}

/*******About*******/
.intro-container {
  text-align: left;
}

.role{
  padding-bottom: 2%;
}

.profile-pic {
  border-radius: 100%;
}

#about-container {
  display: flex;
}

.about-box-1 {
  flex: 1;
}

.about-box-2 {
  flex: 1;
  text-align: left;
}

.technology-list {
  display: flex;
}

.list1 {
  flex: 1;
}

.list2 {
  flex: 1;
}

/******* Projects *******/
#projects-container {
  display: flex;
  text-align: left;
  color: black;
}

.project-card {
  background-color: #D4F1F4;
  width: 400px;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px;
  border-radius: 25px;
  text-align: center;
  padding: 5% 2% 0% 2%;
  color: black
}

.project-card:hover{
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
}


.card-text{
 padding-bottom: 10%;
}


#projects-container h4{
  padding-bottom: 1%;
}

#projects-container div{
  padding-bottom: 4%;
}



.project-1 {
  background-color: #e8f4f8;
  flex: 1;
}

.project-2 {
  background-color: #30AADD;
  flex: 1;
  padding-left: 1%;
}

.project-icons{
  padding: 4%;
  color: #0F6CED;
}



#sample-container{
  color: black;
}


/******* Contacts *******/
#contacts-container {
  text-align: left;
}

.footer-icons{
  padding-right: 1%;
}

.footer-icons:hover{
 color: #89CFF0
 
}

.footer-container{
  background-color: #D3D3D3;
  padding-top: 3%;
  padding-bottom: 4%;
}

.footer-section{
  padding: 0%;
}

